/* You can add global styles to this file, and also import other style files */
$font-Family :Verdana, Geneva, Tahoma, sans-serif;
$white-Color:white;
$black-Color:black;
$resume-Text-Color:'';
$resume-Background-Color:'';
$underline_color:rgb(121, 42, 42);